.opinion__form {
  padding-top: 150px;
}

.container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  text-align: center;
}

.opinion__form .container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 350px;
}

.opinion__form .container form h3 {
  font-size: 2em;
}

.opinion__form .container .input__nombreLocal input {
  width: 100%;
  padding: 0.5em 0;
}

.opinion__form .container .input__negocio {
  width: 100%;
}

.opinion__form .container .input__negocio textarea {
  width: 100% !important;
  height: 200px;
}

.opinion__form .container form label {
  position: initial !important;
  font-weight: 500;
  width: 100% !important;
  display: flex;
  text-align: start !important;
  background-color: rgba(240, 248, 255, 0) !important;
  font-size: 1em !important;
}

.estrellas {
  display: flex;
}

.opinion__form button {
  border: 1px solid var(--main-color);
  padding: 0.5em 0;
  border-radius: 100px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.opinion__form button:hover {
  background-color: var(--main-color);
  color: white;
  box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
  transform: scale(102%);
}
