.panel__misProductos {
}

.panel__misProductos .container {
	display: flex;
	gap: 1em;
	flex-direction: column;
}

.misProductos__header {
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 2em;
	border-radius: 1em;
}

.misProductos__header .buscador__producto {
	display: flex;
	align-items: center;
	gap: 1em;
}

.misProductos__header .header__buttons {
	display: flex;
	justify-content: space-around;
}

.misProductos__header .header__buttons {
	display: flex;
	gap: 1em;
	width: 70%;
}

.misProductos__header .header__buttons > div {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-around;
	gap: 1em;
}

.header__buttons > .button {
	color: white;
	padding: 0.5em 1.5em;
	font-size: 0.9em;
	background-color: var(--main-color);
	border-radius: 0.5em;
	cursor: pointer;
}

.button a {
	color: white;
}

.productos__container {
	width: 100%;
	gap: 1em;
	padding: 1em;
	display: flex;
	justify-content: space-between;
}

.resultados__productos {
	width: 100%;
	border-radius: 1em;
	border: 1px solid white;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	gap: 1em;
	height: 600px;
	overflow-y: scroll;
	padding: 15px;
}

.edicion__productos {
	border-radius: 1em;
	border: 1px solid white;
	width: 50%;
	background-color: white;
	padding: 1em;
}
