.resumen {
	width: 600px;
}

.container {
	max-width: 100%;
	margin: auto;
}

.resumen .container {
	background-color: white;
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	border-radius: 0.5em;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2em;
}

.estado {
	display: flex;
	gap: 1em;
	flex-direction: column;
	padding: 30px;
}

.resumen .container .img__container {
	width: 200px;
	height: 150px;
	border-radius: 0.5em;
	overflow: hidden;
	align-self: center;
	border: 2px solid var(--main-color);
}

.resumen .container .img__container img {
	width: 200px;
	height: 100%;
	object-fit: cover;
}

.infoPedido {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 100%;
}

.infoPedido p {
	font-size: 0.9em;
	font-weight: 400;
}

.infoPedido span {
	font-weight: 600;
}

.infoPedido div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	justify-content: space-between;
}

.infoPedido div div {
	padding: 0.3em 2em;
	font-size: 0.7em;
	align-self: flex-end;
}

.idPedido {
	font-size: 0.9em;
	color: gray;
	font-weight: 600;
}
