.card__store {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	margin: 25px 0;
	gap: 25px;
	background-color: white;
	padding: 1.5em;
	border-radius: 0.5em;
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
}

.logo {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	padding: 10px;
	background-color: white;
	display: flex;
	align-items: center;
}

.logo img {
	width: 100%;
	object-fit: contain;
}

.card__info {
	position: relative;
	width: 100%;
}

.rating {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
}

.rating i {
	color: rgb(255, 162, 0);
}
