.card__primary {
  width: 400px;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__imgContainer {
  height: 200px;
}

.card__imgContainer img {
  height: 100%;
  object-fit: cover;
}

.card__info h3 {
  font-weight: 600;
  font-size: 1.2em;
}

.card__primary img {
  width: 100%;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 0em;
  color: var(--main-text-color);
}

.card__primary .card__info p {
  font-size: 0.9em;
}

.btn__container {
}

.card__bottom {
  padding: 1.5em;
  display: flex;
  gap: 2em;
  flex-direction: column;
  justify-content: space-between;
}
