.user__dashboard {
	padding-top: 100px;
}

.user__dashboard .container {
	width: 90%;
	margin: auto;
	border-radius: 2em;
	padding: 2em;
	display: flex;
	gap: 1em;
}

.user__dashboard .container .userDashboard__handler {
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
	width: 250px;
	padding: 1em;
	border-radius: 0.3em;
	background-color: white;
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
}

.userDashboard__handler .profile .img__container {
	width: 150px;
	margin: auto;
}

.userDashboard__handler .profile .img__container img {
	width: 100%;
	border-radius: 100%;
}

.profile {
	padding-bottom: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile h2 {
	padding-top: 20px;
	text-align: center;
	line-height: 0.5em;
}

.profile p {
	font-size: 1.5em;
	content: gray;
	padding-top: 5px;
	font-weight: 500;
}
.user__dashboard .container .userDashboard__handler a {
	background-color: var(--main-color);
	border-radius: 10px;
	padding: 0.5em 2em;
	width: 100%;
	color: white;
	font-weight: 600;
	font-size: 0.9em;
}

.panel__handlers {
	padding: 1em;
	width: 100%;
	overflow-y: scroll;
	max-height: 800px;
}

.panel__handlers::-webkit-scrollbar {
	width: 8px; /* width of the entire scrollbar */
}

.panel__handlers::-webkit-scrollbar-track {
	background: white; /* color of the tracking area */
}

.panel__handlers::-webkit-scrollbar-thumb {
	background-color: rgb(208, 208, 208); /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
}

.view__handler {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.view__container {
	width: 100%;
	padding-top: 25px;
	background-color: white;
	border-radius: 0.3em;
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	margin-top: 25px;
	padding: 1em;
}

.view__container h4 {
	padding: 20px 0;
	padding-bottom: 0;
}

.user__informacion {
	display: flex;
	gap: 2em;
}

.user__informacion .alert {
	color: var(--main-color);
}

.perfil__container {
	padding-top: 20px;
}
.user__informacion .perfil__actual {
	width: 40%;
	display: flex;
	padding: 2em;
	flex-direction: column;
	gap: 1em;
	border-radius: 0.3em;
	background-color: white;
	border-radius: 0.3em;
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
}

.perfil__actual > div {
	width: 100%;
	gap: 1em;
	font-size: 0.9em;
}

.perfil__actual > div > p {
	color: gray;
}

.user__informacion form {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding: 0;
	gap: 2em;
	padding: 2em;
	border-radius: 0.3em;
	background-color: white;
	border-radius: 0.3em;
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
}

.user__informacion .form__editInfoUser {
	display: flex;
	flex-direction: column;
}

.user__informacion .form__editInfoUser > div {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0.5em;
}

.user__informacion .form__editInfoUser > div > .form__sm {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.user__informacion .form__editInfoUser > div > .form__sm > input {
	width: 50%;
	border: 1px solid rgb(195, 195, 195);
	border-radius: 0.3em;
	padding: 0.3em 1em;
	outline: none;
}

.user__informacion form input.submit {
	background-color: var(--main-color);
	border: none;
	color: white;
	padding: 0.5em 2em;
	border-radius: 0.3em;
}

.user__informacion table {
	width: 100%;
	border-radius: 0.5em;
	padding-top: 15px;
	padding-bottom: 25px;
}

.user__informacion table tr {
	border-radius: 0.5em;
}

.user__informacion table tr:nth-child(2n + 1) {
	border-radius: 0.5em;
	background-color: rgb(244, 244, 244);
}

.user__informacion table tr th {
	background-color: var(--main-color);
	color: white;
	font-weight: 400;
	border-radius: 0.3em;
	padding: 0.3em 0;
}

.user__informacion table td {
	text-align: center;
	padding: 0.5em 0;
	font-size: 0.9em;
	font-weight: 600;
	color: gray;
}
.user__informacion td i {
	color: goldenrod;
}

.cardsFav__container {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding-top: 25px;
}

.card_fav {
	border-radius: 0.5em;
	display: flex;
	align-items: center;
	padding: 1em;
	border: 1px solid rgb(209, 209, 209);
	gap: 2em;
	font-size: 0.9em;
}

.card_fav h3 {
	font-size: 1em;
	width: 200px;
	text-align: center;
}

.card_fav a {
	text-align: center;
	font-size: 1em;
	background-color: var(--main-color);
	color: white;
	padding: 0.5em;
	border-radius: 0.3em;
	line-height: 1em;
}

.card_fav .descripcion {
	width: 500px;
}

.card_fav .descripcion h5 {
	font-size: 1.3em;
}

.card_fav .img__container {
	width: 150px;
	height: 100px;
	border-radius: 0.5em;
	overflow: hidden;
}

.card_fav .img__container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

td.orderId {
	font-size: 0.5em;
	font-weight: 100;
}

.descripcionOrder {
	padding: 1em;
	text-align: start;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
