.pedidoCard {
	display: flex;
	align-items: center;
	gap: 2em;
	background-color: white;
	padding: 15px;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 25px;
	border: 2px solid rgb(237, 237, 237);
	border-radius: 0.5em;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.pedidoCard:hover {
	border: 2px solid rgb(121, 112, 255);
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
}

.datosPedido {
	display: flex;
	flex-direction: row;
	gap: 1em;
	justify-content: space-between;
	width: 100%;
	gap: 1em;
}

.datosPedido .datos {
	font-size: 0.9em;
	color: gray;
	font-weight: 600;
}

.estado_pedido {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	text-align: center;
}

.estado_pedido p {
	font-size: 0.9em;
	font-weight: 600;
}

.estado_pedido > div {
	display: flex;
	gap: 0.5em;
}

.estado_pedido > div > div:first-child {
	color: green;
	font-size: 0.9em;
	font-weight: 600;
	padding: 0.5em 2em;
	display: flex;
	align-items: center;
	border-radius: 0.3em;
	background-color: rgb(196, 253, 196);
}

.estado_entrega {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	text-align: center;
}

.estado_entrega p {
	font-size: 0.9em;
	font-weight: 600;
}

.estado_entrega > div {
	display: flex;
	gap: 0.5em;
}

.estado_entrega > div > div:first-child {
	color: green;
	font-size: 0.9em;
	font-weight: 600;
	padding: 0.5em 2em;
	display: flex;
	align-items: center;
	border-radius: 0.3em;
	background-color: rgb(196, 253, 196);
	border: none;
}

.imgContainer {
	border-radius: 1em;
	overflow: hidden;
	width: 150px;
	height: 100px;
}

.imgContainer img {
	width: 150px;
	height: 100px;
	object-fit: cover;
}

@media (max-witdh: 700px) {
	.pedidoCard {
		display: flex;
		align-items: center;
		gap: 1em;
		border: 1px solid black;
		border-radius: 1em;
		padding: 15px;
		flex-direction: column;
		justify-content: center;
	}

	.datosPedido {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.datosPedido div {
		margin: auto;
	}

	.imgContainer {
		border-radius: 1em;
		overflow: hidden;
		width: 200px;
		height: 200px;
	}

	.imgContainer img {
		height: 200px;
		object-fit: cover;
	}
}
