.container {
	padding: 100px 0;
	margin: 100px auto;
	max-width: 60%;
}

.container h4 {
	font-size: 1.3em;
}

.carrusel {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	gap: 1em;
	width: 100%;
	flex-flow: row wrap;
	overflow: hidden;
}

.carrusel__container {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	gap: 1em;
	width: 200%;
	flex-flow: row wrap;
	overflow: hidden;
}

.container__img {
	background-color: white;
	width: 90px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1em;
}

.carrusel img {
	width: 50px;
}

@media (max-width: 1200px) {
	.container {
		padding: 100px 0;
		margin: auto;
		max-width: 80%;
	}
	.carrusel {
		margin-top: 25px;
		height: 100px;
		display: flex;
		justify-content: space-between;
		gap: 1em;
		width: 100%;
		flex-flow: row wrap;
		overflow: hidden;
	}
}
