.features {
	margin: 100px 0;
}

.features .container {
	margin: auto;
	width: 60%;
	max-width: 60%;
}

.features__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

.features__header h2 {
	display: flex;
	align-items: center;
	font-size: 3em;
	font-weight: 300;
	gap: 0.5em;
}

.features__header h2 img {
	max-width: 400px;
}

.container h4 {
	max-width: 500px;
	text-align: center;
}

.features__container {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}

@media (max-width: 700px) {
	.features .container {
		margin: auto;
		max-width: 80%;
	}

	.container p {
		font-weight: 500;
		text-align: start;
	}

	.container h2 {
		text-align: center;
	}

	.features__icons {
		margin: 50px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		gap: 2em;
	}

	.feature h3 {
		text-align: center;
	}

	.feature__img {
		max-width: 200px;
	}
	.features__header {
		gap: 1em;
	}

	.texto {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
	}
	.texto p {
		text-align: center;
	}
}
