.features {
	margin: 100px 0;
}

.features .container {
	margin: auto;
	width: 60%;
	max-width: 60%;
}

.features__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

.features__header h2 {
	display: flex;
	align-items: center;
	font-size: 3em;
	font-weight: 300;
	gap: 0.5em;
}

.features__header h2 img {
	max-width: 400px;
}

.container h4 {
	max-width: 500px;
	text-align: center;
}

.features__container {
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
	gap: 2em;
}

@media (max-width: 1200px) {
	.features {
		margin: 100px 0;
	}

	.features .container {
		margin: auto;
		width: 100%;
		max-width: 80%;
	}

	.features__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1em;
	}

	.features__header h2 {
		display: flex;
		align-items: center;
		font-size: 1.5em;
		line-height: 0.5em;
		flex-direction: column;
		font-weight: 600;
		gap: 0.5em;
	}

	.features__header h2 img {
		max-width: 250px;
	}

	.container h4 {
		max-width: 500px;
		text-align: center;
	}

	.features__container {
		display: flex;
		justify-content: space-around;
		padding-top: 100px;
		gap: 2em;
		flex-flow: row wrap;
	}
}
