.panel {
	border-radius: 0.5em;
	max-height: 800px;
	overflow: hidden;
}

/* .panel::-webkit-scrollbar {
	width: 8px;
}

.panel::-webkit-scrollbar-track {
	border-radius: 0.5em;
	background: white; 
}

.panel::-webkit-scrollbar-thumb {
	background-color: rgb(208, 208, 208); 
	border-radius: 20px; 
	border: 1px solid white;
} */

h3 {
	font-size: 1.2em;
}

.panel .container {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 750px;
}

.pedidosContainer {
	display: flex;
	width: 100% !important;
	gap: 1em;
}

/* .panel .container::-webkit-scrollbar {
	width: 8px; 
}

.panel .container::-webkit-scrollbar-track {
	background: white;
}

.panel .container::-webkit-scrollbar-thumb {
	background-color: rgb(208, 208, 208); 
	border-radius: 20px; 
} */

.user__informacion {
	width: 100%;
}

.user__informacion table {
	width: 100%;
	border-radius: 0.5em;
	padding: 1em;
	background-color: white;
}

.user__informacion table tr {
	border-radius: 0.5em;
}

.user__informacion table tr:nth-child(2n + 1) {
	border-radius: 0.5em;
	background-color: rgb(244, 244, 244);
}

.user__informacion table tr th {
	background-color: var(--main-color);
	color: white;
	font-weight: 400;
	border-radius: 0.3em;
	padding: 0.3em 0;
}

.user__informacion table td {
	text-align: center;
	padding: 0.5em 0;
	font-size: 0.9em;
	font-weight: 600;
	color: gray;
}
.user__informacion td i {
	color: goldenrod;
}

.view__container {
	width: 100%;
}

.mispedidos {
	display: flex;
	width: 100% !important;
	flex-direction: column;
}
