.container {
	max-width: 80%;
	margin: auto;
	text-align: center;
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.opiniones__container .container > div {
	display: flex;
	gap: 1em;
}

.opiniones__container .container__button {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

@media (max-width: 700px) {
	.opiniones__container .container > div{
		flex-flow: row wrap;
	}
}
