.header {
	/* background-color: #f4eaeb; */
	background-color: white;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 1;
	display: flex;
	padding: 10px 0;
	text-align: center;
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
}

.header .container {
	display: flex;
	margin: 0 auto !important;
	width: 60%;
	max-width: 60%;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	padding: 5px 20px;
	background: url("../../images/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	text-indent: -1000px;
	width: 150px;
	overflow: hidden;
}

h1 {
	font-size: 1em;
	color: white;
}

@media (max-width: 700px) {
	.header .container {
		display: flex;
		margin: auto;
		max-width: 80%;
		align-items: center;
		justify-content: space-between;
	}
}
