.header {
	/* background-color: #f4eaeb; */
	background-color: white;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	padding: 5px 20px;
	background-color: #fe161a;
	color: white;
	font-weight: bold;
	border-radius: 10px;
}

h1 {
	font-size: 1em;
	color: white;
}

.header .container {
	display: flex;
	margin: auto;
	max-width: 65%;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 700px) {
	.header .container {
		display: flex;
		margin: auto;
		max-width: 80%;
		align-items: center;
		justify-content: space-between;
	}
}
