.productCration__form {
	width: 100%;
}

.productCration__form .container {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.productCration__form .container form {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
