.hero__main {
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-image: url("../../images/bghome_.jpg");
	display: flex;
	align-items: center;
}

.container {
	margin: auto;
	display: flex;
	min-height: 100% !important;
	max-width: 80%;
	color: white;
}

.searchContainer {
	width: 1000px;
	padding: 1em;
	display: flex;
	flex-direction: column;
}

.btn__buscar {
	background-color: red;
	color: white;
	padding: 1em 2em;
	align-self: self-start;
	border-radius: 0.5em;
}

.container div h2 {
	color: white;
}

.buscador {
	padding-top: 35px;
	display: flex;
	gap: 1em;
	flex-direction: column;
}

.buscador .input {
	display: flex;
	align-items: center;
	background-color: white;
	padding: 10px 20px;
	margin-top: 10px;
	border-radius: 100px;
}

.buscador input {
	border: none;
	width: 100%;
	outline: none;
	font-size: 1em;
}

input::placeholder {
	color: rgb(34, 34, 34);
}

.buscador .input i {
	color: rgb(34, 34, 34);
}

@media (max-width: 700px) {
	.hero__main {
		min-height: 50vh;
		background-position: center;
		background-size: cover;
		background-image: url("../../images/bghome.avif");
	}
}
