.menu__home {
	margin: 200px 0;
}

.menu__home .container {
	max-width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 3em;
}

.container p {
	font-weight: 700;
	text-transform: uppercase;
	text-align: start;
}

.container h2 {
	text-align: start;
	font-size: 3em;
	max-width: 40%;
}

.menu__header {
	text-align: center;
}

.menu__nav {
	display: flex;
	justify-content: space-between;
}

.menu__nav a {
	color: black;
	padding: 0.5em 1.5em;
	border-radius: 100px;
}

.menu__nav a:first-child {
	color: white;
	background-color: #fe161a;
}

.menu__cards {
	display: flex;
	flex-flow: row wrap;
	gap: 2em;
	justify-content: space-between;
}

.filtros {
	display: flex;
	gap: 1em;
}

@media (max-width: 700px) {
	.container h2 {
		text-align: start;
		font-size: 2.5em;
		max-width: 100%;
	}
	.menu__nav {
		overflow-x: scroll;
	}
	/* Works on Firefox */
	.menu__nav {
		scrollbar-width: thin;
		padding: 10px 0;
		scrollbar-color: #f54749;
	}

	/* Works on Chrome, Edge, and Safari */
	.menu__nav::-webkit-scrollbar {
		width: 10px;
		height: 5px;
	}

	.menu__nav::-webkit-scrollbar-track {
	}

	.menu__nav::-webkit-scrollbar-thumb {
		background-color: #f54749;
		border-radius: 20px;
	}
}
