h2 {
	font-size: 2.5em;
	color: #2e2e2e;
}

h2 span {
	color: #fe161a;
}

.hero {
	padding-top: 100px;
	margin-bottom: 100px;
}

.hero .container {
	display: flex;
	flex-direction: row;
	gap: 3em;
	margin: auto;
	max-width: 65%;
	justify-content: space-between;
}

.text {
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
	max-width: 600px;
}

.text h2 {
}

.hero .container p {
	font-weight: 600;
	color: #676767;
}

.botones {
	display: flex;
	gap: 1em;
}

.botones .btn:last-child {
	display: flex;
	gap: 0.5em;
	color: #fe161a;
	font-weight: 600;
	background-color: white;
	border: 1px solid #fe161a;
}

.btn i {
	color: #fe161a;
}

.btn {
	background-color: #fe161a;
	align-self: start;
	color: white;
	font-weight: 500;
	padding: 10px 25px;
	border-radius: 100px;
}

img {
	width: 40%;
	object-fit: cover;
}

@media (max-width: 700px) {
	h2 {
		font-size: 2.5em;
		color: #2e2e2e;
	}

	h2 span {
		color: #fe161a;
	}

	.hero {
		padding-top: 100px;
		margin-bottom: 100px;
	}

	.hero .container {
		display: flex;
		flex-direction: column;
		gap: 3em;
		margin: auto;
		max-width: 80%;
	}

	.text {
		display: flex;
		flex-direction: column;
		gap: 2em;
	}

	.hero .container p {
		font-weight: 600;
		color: #676767;
	}

	.btn {
		background-color: #fe161a;
		align-self: start;
		color: white;
		font-weight: 500;
		padding: 10px 25px;
		border-radius: 100px;
	}
	img {
		width: 100%;
		object-fit: cover;
	}
}
